#container {
    width: 1200px;
    border: solid red 2px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
#crunchyroll {
    display: flex;
}
#crunchyroll img{
    height: 50px;
}