.search, .plus, .create {
    display: block;
    margin-bottom: 10px;
    height: 40px;
}
.search {
    width: 100px;
    border-radius: 20px;
    color: #489d9e;
    font-weight: 900px;
    border: 2px solid #489d9e;
    background-color: #f5f5f5;
}
.plus {
    width: 40px;
    background-color: #66d2b3;
    color: #ffff;
    border-radius: 50%;
    border: none;
}
.create {
    width: 150px;
    background-color: #2b78e4;
    color: #ffff;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}